/*
** Coleções
*/
/* clear fix */
.isotope:after {
    content: '';
    display: block;
    clear: both;
}

//
.grid-colecoes{
    @include clearfix;
    position: relative;
    overflow: hidden;
    margin-top: rem-calc(40);
    @include breakpoint(large) {
        margin: 0;
    }
}

.grid-item,
.grid-sizer {
    width: 46.666666666666664%;
    @include breakpoint(large) {
        width: 23.728813559322035%;
    }
    
    @include when-inside('.owl-item'){
        width: 100%;
    }
}

.gutter-sizer {
    width: 3.3333333333333335%;
    @include breakpoint(large) {
        width: 1.694915254237288%;
    }
}

.grid-item {
    float: left;
    margin-bottom: rem-calc(20);
    @include breakpoint(large) {
        margin-bottom: rem-calc(40);
    }
    
    @include when-inside('.owl-item'){
        margin: 0;
    }
}


/***/
.colection-item{
    display: block;
    position: relative;

    .colection-item-img{
        overflow: hidden;
    }

    .colection-item-info{

        > .colection-item-cat,
        > .colection-item-title{
            @include font-semi-bold;
            @include letter-spacing(100);
            text-transform: uppercase;
        }
        > .colection-item-cat{
            display: block;
            padding: rem-calc(8 0);            
            font-size: rem-calc(10);
            color: #999;
        }

        > .colection-item-title{
            font-size: rem-calc(14);
            color: #000;
            margin: 0;
        }
    }
}


/**/
.filter-section{
    position: relative;

}

.filter-bar{
    backface-visibility: hidden;
    transition: transform .4s 0s, visibility 0s .4s;
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: rem-calc(50);
    position: absolute;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    padding: rem-calc(20 0);
    overflow: hidden;
    
    &.center{
        justify-content: center;
    }

    @include breakpoint(large) {
        position: relative;
        visibility: visible;
        transition: transform .4s 0s, visibility 0s 0s;
        transform: translate3d(0, 0, 0);
        overflow: visible;
        padding: 0;
    }

    &.show-filters{
        pointer-events: all;
        visibility: visible;
        transition: transform .4s 0s, visibility 0s 0s;
        -webkit-overflow-scrolling: touch;
        transform: translate3d(0, 0, 0);
        overflow: visible;

    }

}
/**/
.filters-buttons-group{
    display: flex;
    flex-flow: column;
    @include breakpoint(large) {
        flex-flow: row nowrap;
    }

    .filters-buttons-action{
        @include font-regular;
        @include letter-spacing(220);
        transition: all 0.35s ease;
        font-size: rem-calc(12);
        text-transform: uppercase;
        position: relative;
        padding: 0;
        margin: 0;
        text-align: center;
        cursor: pointer;
        color: #999;
        padding: rem-calc(5 10);
        line-height: 1;

        &:last-child{
            margin-right: 0;
        }

        @include breakpoint(large) {
            font-size: rem-calc(14);
            margin-right: rem-calc(40);
        }

        &.is-checked{
            @include font-semi-bold;
            color: #000;
        }
    }
}


/*
* Nav buttom
*/
.nav-filter{
    transition: all 0.5s ease;
    position: relative;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    @include breakpoint(large) {
        display: none;
    }

    &:hover{
        background-color: transparent;
        > .nav-button-text{
            color: #000;
        }
        > .nav-button-ico{
            color: #000;
            .fa-bars{
                color: #000;
            }
        }
    }

    &:focus,
        &.active{
        background-color: transparent;
        > .nav-button-text{
            color: #000;
        }
        > .nav-button-ico{
            color: #000;
            .fa-bars{
                color: #000;
            }
        }
    }
    > .nav-button-text{
        @include font-regular;
        @include letter-spacing(220);
        font-size: rem-calc(12);      
        transition: all 0.5s ease;
        text-transform: uppercase;        
        color: #000;
        line-height: 1;
        margin-top: 2px;
    }

    > .nav-button-ico{
        transition: all 0.5s ease;
        color: #000;
        font-size: rem-calc(16);        
        margin-right:rem-calc(10);
        @include breakpoint(large){
            font-size: rem-calc(22);        
            margin-right: rem-calc(20);
        }

        .fa-bars{
            transition: all 0.35s ease;
        }
    }
}