////
/// @group accordion
////


/// Adds styles for an accordion container. Apply this to the same element that gets `data-accordion`.
@mixin accordion-container{
    padding: 0;
    margin:0;
    background-color: transparent;
    list-style-type: none;
    &[disabled] {
        .accordion-title {
            cursor: not-allowed;
        }
    }
}

/// Adds styles for the accordion item. Apply this to the list item within an accordion ul.
@mixin accordion-item {
    padding: rem-calc(0 20);
    background-color: #f2f2f2;
    border-radius: rem-calc(10);
    position: relative;
    margin-bottom: rem-calc(10);
    @include breakpoint(large) {
        margin-bottom: rem-calc(20);
    }

    &:first-child > :first-child {
        border-radius: rem-calc(10);
    }

    &:last-child > :last-child {
        border-radius: rem-calc(10);
    }
}

/// Adds styles for the title of an accordion item. Apply this to the link within an accordion item.
@mixin accordion-title{
    position: relative;
    display: block;
    border: 0;
    line-height: 1;
    font-weight: bold;
    color: #333;
    border-radius: 0;
    font-size: rem-calc(14);
    @include pad-vert-align(60px,14px);
    @include breakpoint(large) {
        font-size: rem-calc(20);
        @include pad-vert-align(90px,20px);
    }

    :last-child:not(.is-active) > & {
        border-bottom: 0;
        border-radius: 0;
    }

    &:hover,
        &:focus {
        color: #000;
        background-color: transparent;
    }

    &::before {
        font-family: 'Font Awesome 5 Free';
        font-style: normal;
        font-weight: 900;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        color: #d76f2c;
        content: fa-content($fa-var-plus-square);
    }

    .is-active > &::before {
        content: fa-content($fa-var-minus-square);
    }
}

/// Adds styles for accordion content. Apply this to the content pane below an accordion item's title.
@mixin accordion-content{
    display: none;
    padding: rem-calc(0 0 20 0);
    border: 0;
    background-color: transparent;
    color: inherit;

    :last-child > &:last-child {
        border-bottom: 0;
    }
}

@mixin foundation-accordion {
    .accordion {
        @include accordion-container;
    }

    .accordion-item {
        @include accordion-item;
    }

    .accordion-title {
        @include accordion-title;
    }

    .accordion-content {
        @include accordion-content;
    }
}

@include foundation-accordion;