/*
* button
*/
.button{
    @include font-light;
    @include letter-spacing(100);
    @include pad-vert-align(30px, 12px);
    color: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: rem-calc(12);
    min-width: rem-calc(140);
    border-radius: rem-calc(15);
    background-color: #85599a;
    padding-left: rem-calc(15);
    padding-right: rem-calc(15);
    line-height: 1;
    border:1px solid transparent;
    
    @include breakpoint(large){
        @include pad-vert-align(40px, 14px);
        padding-left: rem-calc(20);
        padding-right: rem-calc(20);
        font-size: rem-calc(14);
        min-width: rem-calc(180);
        border-radius: rem-calc(20);
    }

    &.hover,
    &:hover{
        background-color: #6d4083;
        color: #fff;
        outline: 0;
    }

    &:focus{
        outline: 0;
    }
    
    &.button-spaced{
        margin-top: rem-calc(40);
        @include breakpoint(large){
            margin-top: rem-calc(80);
        }
    }
}